table {
    width: 100% !important;
    table-layout: fixed !important;
  }
  
  th, td {
    white-space: nowrap !important;
  }
  
  .scroll-container {
    max-height: 500px; /* Höhe anpassen */
    overflow-y: auto;
  }
  