.sidebar-info {
    position: fixed; /* Sidebar bleibt immer sichtbar */
    left: 0; /* Sidebar wird an den linken Rand verschoben */
    top: 0; /* Sidebar beginnt oben */
    width: 250px; /* Breite der Sidebar */
    height: 100vh; /* Höhe der Sidebar auf die volle Bildschirmhöhe setzen */
    background-color: #0062ff; /* Hintergrundfarbe */
    padding: 1rem; /* Innenabstand für besseren Textabstand */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.8); /* Leichter Schatten für den Rand */
  }
  